
ul.activity-list li{
	 margin-bottom: 0px;
     padding-bottom: 0px;

}

.row .panel .nav-tabs .xz-header{
		width: 50%;
	    text-align: center;

}

ul.activity-list .activity-desk {
  	width: 50%;
    margin-left: 0px; 
  	float: left;
  	position: relative;
}
ul.activity-list .activity-desk h5{
  font-weight: bold;
  color: #65CEA7;
}
ul.activity-list .activity-desk .xz-span{
	position: absolute;
    left: 45%;
    top: 10px;

}

ul.activity-list .xz-activity-desk{
	width: 50%;
    float: right;

}
ul.activity-list .xz-activity-desk h4 {
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  color: #65CEA7;
}
ul.activity-list .xz-activity-desk p{
  text-align: right;
}

.in_money{
	    color: #fe0000 !important;
}
.out_money{
	    color: #00bd00 !important;

}
.p-states .chart-bar{
	    margin-top: 15px;
}
