.xg-left{
	position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    z-index: 100;
    line-height: 45px;
    font-size: 30px;
}
.activity-desk .album a{
    width: 100%;
    margin-bottom: 0;
   
}





/* 首页样式 */
.panel-body{
    padding: 0px;
}
.carousel-inner {
    margin-bottom: 0px;
}
.ico-bottom-left{
  padding-right: 0px
}
.ico-bottom-right{
  padding-left: 0px;
}

.row .ioc-fa-coc{
	 font-size: 40px;
    text-align: center;

}
.row .ico-title{
	 text-align: center;

}

.ico-fa{
	border: 1px solid #65CEA7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  	line-height: 60px;

}
.ico-bottom{
  margin-bottom: 0px;
  border-right: 1px rgba(23, 22, 22, 0.13) dotted;
}
.blog .blog-img-wide img {
    width: 100%;
    height: 230px;
    padding-bottom: 0px;
}

ul.activity-list li{
	padding-bottom: 10x;
    padding-top: 10px;
  	margin-bottom: 0px;


}

ul.activity-list .avatar img{
	margin-top: 12px;
    margin-left: 12px;

}

.text-muted-flaot a{
    position: absolute;
    right: 12%;
    top: 38px;
	
}

.xz-dw{
	 position: relative;
}

.xz-dw .xz-jd{
    position: absolute;
    right: 5%;
    top: 35%;
    font-size: 30px;
  	color: #65CEA7;
}
.xz-ul {
	    margin-bottom: 50px;

}

.rise-value{
  color:#fe0000;
}
.fall-value{
  color:#00be00;

}



}