  ul.activity-list .avatar .ioc-fa{
    float: left;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #212121;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin-top: 12px;
  }
  .ioc-color-1{
  border: 1px solid #1fc65b;
  }
 
  .profile-pic-xg img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 70px;
    width: 70px;
    float: right;
  
  } 
.xg-radio{
  	width: 10%;
	float: right;
}

.state-overview .state-value{
	    width: 50%;
}
.modal-title{
	    text-align: center;
}

.form-horizontal.adminex-form .form-group {
     border-bottom: none; 
    padding-bottom: 0px;
  margin-bottom: 0px;}

.form-group {
    margin-bottom: 0px;
}

.xg-left{
	position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    z-index: 100;
    line-height: 45px;
    font-size: 30px;
}
.row .ioc-fa-coc{
	 font-size: 40px;
    text-align: center;

}
.row .ico-title{
	 text-align: center;

}

.ico-fa{
	border: 1px solid #65CEA7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  	line-height: 60px;

}
.ico-bottom{
  margin-bottom: 0px;
  border-bottom: 1px rgba(23, 22, 22, 0.13) dotted;
  border-right: 1px rgba(23, 22, 22, 0.13) dotted;
}

.ico-bottom-left{
  padding-left: 15px;
  padding-right: 0px
}
.ico-bottom-center{
  padding-left: 0px;
  padding-right: 0px
}
.ico-bottom-right{
  padding-left: 0px;
  padding-right: 15px
}
.xz-activity-desk{
	text-align: right;
    font-size: 35px;
    font-weight: bold;
    color: #65CEA7;
  	width: 50%;
    float: right;
}

.xz-activity-desk h4{
	display: block;
    width: 100%;
  	line-height: 60px;
    font-size: 20px;
}

.xz-title-clear{
	text-align: center;
    clear: both;
  	 color: #65CEA7;
}
.btn-success{
	color: #fff;
    background-color: #65CEA7;
    border-color: #65CEA7;
    width: 100%;
}
.xz-dw{
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  	    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* 小屏幕（平板，大于等于 768px） */
@media screen and (max-width: 650px){ 
 	 .main-content{
  	    min-height: 650px;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (max-width: 700px){ 
 	 .main-content{
  	    min-height: 760px;
  }
}
